body{

margin:0;
font-family:Arial;
color:white;

background:url("bg.jpg");
background-size:cover;
background-position:center;

}

header{

display:flex;
justify-content:space-between;
padding:20px;

}

nav a{

color:white;
margin:10px;
text-decoration:none;

}

.hero{

display:flex;
justify-content:space-around;
align-items:center;
height:90vh;

}

.text h1{

font-size:50px;
color:#00ffff;

}

.social img{

width:40px;
margin:10px;

}

.image img{

width:250px;
height:250px;
border-radius:50%;
border:5px solid cyan;
object-fit:cover;

}

.videos{

text-align:center;
padding:50px;

}

.videos img{

width:250px;
margin:15px;
border-radius:10px;

}

@media(max-width:700px){

.hero{

flex-direction:column;
text-align:center;

}

}